*{
margin:0;
padding:0;
box-sizing:border-box;
}

.Main{
background:black;

min-height:100vh;

padding:20px;

color:white;

font-family:Inter;
}

/* Header */

.header{
margin-bottom:30px;
}

.header h2{
font-size:30px;
}

/* Form */

.formWrapper{

background:#111;

padding:25px;

border-radius:14px;

border:1px solid #222;

margin-bottom:30px;
}

.sectionInput{

display:flex;

flex-direction:column;

gap:10px;
}

.sectionInput label{

color:#888;
}

.sectionInput input{

padding:16px;

background:#181818;

color:white;

border:none;

border-radius:10px;

outline:none;

border:1px solid #222;
}

.sectionInput input:focus{

border-color:white;
}

/* Button */

.Add{

width:100%;

margin-top:20px;

padding:16px;

border:none;

border-radius:10px;

background:white;

color:black;

font-weight:700;

cursor:pointer;

transition:.3s;
}

.Add:hover{

transform:translateY(-2px);
}

/* Todo */

.todoList{

display:flex;

flex-direction:column;

gap:15px;
}

.todoCard{

background:#111;

border:1px solid #222;

padding:18px;

border-radius:12px;

display:flex;

justify-content:space-between;

align-items:center;

transition:.3s;
}

.todoCard:hover{

border-color:white;
}

.left{

display:flex;

gap:15px;

align-items:center;
}

.left input{

width:18px;

height:18px;

accent-color:white;
}

.done{

text-decoration:line-through;

color:#666;
}

/* Remove */

.remove{

background:transparent;

color:#ff4444;

border:1px solid #ff4444;

padding:10px 18px;

border-radius:8px;

cursor:pointer;
}

.remove:hover{

background:#ff4444;

color:white;
}

.empty{

text-align:center;

color:#777;

padding:30px;
}

/* Mobile */

@media(max-width:768px){

.todoCard{

flex-direction:column;

align-items:flex-start;

gap:15px;
}

.remove{

width:100%;
}

}